<header class="bg-white shadow flex items-center py-4">
  <div
    class="container mx-auto flex flex-col gap-6 px-4 text-center sm:flex-row sm:items-center sm:justify-between sm:gap-0 lg:px-8 xl:max-w-6xl">
    <div>
     <a href="/" data-link
   class="flex items-center gap-3 px-0 text-3xl hover:opacity-80">

  <img
    src="/images/logo.png"
    alt="Academist University Logo"
    class="h-10 w-10 object-contain"
  />

  <span class="font-bold tracking-tight">
    <span class="text-blue-600">A</span>cademist
  </span>
</a>


    </div>

    <nav class="flex items-center justify-center gap-4 text-sm sm:gap-6 ">
      <a href="/" data-link class="text-blue-600 hover:underline font-semibold"><i
          class="fa-solid fa-house"></i>Home</a>
      <a href="/students" data-link class="text-blue-600 hover:underline font-semibold"><i
          class="fa-solid fa-user-graduate"></i>Students</a>
      <a href="/teachers" data-link class="text-blue-600 hover:underline font-semibold"><i
          class="fa-solid fa-chalkboard-user"></i>Teachers</a>
      <a href="/courses" data-link class="text-blue-600 hover:underline font-semibold"> <i
          class="fa-solid fa-book-open"></i>Courses</a>
       <a href="/enrollments" data-link class="text-blue-600 hover:underline flex items-center gap-2">
      <i class="fa-solid fa-link"></i>
      Enrollments
    </a>
      <a href="/#about" class="text-blue-600 hover:underline font-semibold">
        <i class="fa-solid fa-building-columns"></i>About Us</a>
      <a href="/profiles" data-link class="text-blue-600 hover:underline flex items-center font-semibold ">
        <i class="fa-solid fa-id-card"></i>
        Profiles
      </a>
    </nav>
  </div>
</header>