<header class="bg-white shadow p-4 mb-6 flex flex-none items-center py-10">
  <div class="container mx-auto flex flex-col gap-6 px-4 text-center sm:flex-row sm:items-center sm:justify-between sm:gap-0 lg:px-8 xl:max-w-6xl">
    <div>
  <a href="#" class="inline-flex items-center gap-2 text-lg font-bold tracking-wide text-black hover:opacity-75"><span>🎓Student Form</span></a>
</div>
<div>
  <nav class="flex items-center justify-center gap-4 text-sm sm:gap-6 ">
    <a href="/" data-link class="text-blue-600 hover:underline">Home</a>
    <a href="/students" data-link class="text-blue-600 hover:underline">Students</a>
    <a href="/teachers" data-link class="text-blue-600 hover:underline">Teachers</a>
  </nav>
    </div>
</header>
